<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.priyank.letsplay">

    <uses-sdk android:minSdkVersion="21" />

    <uses-permission
        android:required="false"
        android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:label="LetsPlay"
        android:configChanges="orientation|screenSize"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ApplicationActivity"
            android:hardwareAccelerated="false"
            android:label="Application Form"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

        <activity
            android:name=".ReviewActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="false"
            android:label="Review Page">
        </activity>

        <activity
            android:name=".ApplicationCompleteActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>

    </application>

</manifest>